

.video container{

}
.box1{
    text-align: center;
    width: 500px;
    margin-left: 40%;
    margin-top: 100px;
    background-color: rgb(91, 117, 117);
    animation-name: slideRight;
    animation-duration: 3s;

}
.box2 {
    width: 500px;
    margin-left: 50%;
    background-color: rgb(91, 117, 117);
    animation-name: slideLeft;
    animation-duration: 3s;
}
.box3{
    width: 500px;
    margin-left: 40%;
    background-color: rgb(91, 117, 117);
    animation-name: slideRight;
    animation-duration: 3s;
}
.box4{
    width: 500px;
    margin-left: 50%;
    background-color: rgb(91, 117, 117);
    animation-name: slideLeft;
    animation-duration: 3s;
}
.box5{
    background-color:rgb(91, 117, 117);
    width: 500px;
    margin-left: 45%;
    display: inline-block
}
.test,.numb{
    display: inline-block;
}

html{
    background-color: rgb(187, 170, 170);
}

.box1,.box2,.box3,.box4{
    font-family: 'Times New Roman', Times, serif;
}
.box5{
    text-align: center;
}

@keyframes slideLeft{
    from{transform: translateX(1000px)}
}
@keyframes slideRight{
    from{transform: translateX(-1000px);}
}